body {
  font-family: "Barlow", sans-serif;
  background: #FCF3F7  ;
  font-size: 18px;
  color: #190A10;
  display: flex;
  flex-direction: column;
  height: 100px;
 
  /* min-height: 100vh;
  text-align: center; */
}
.containerTwo{
  width: 80%;
  margin: 0 auto;
}

.wrapperOne{
  width: 80%;
  margin: 0 auto;
}
#datetime{
  color:#FD3D86;
  
}

header {
  text-align: center;
  text-decoration: underline;

}
[data-test-id="introduction"] {
  width: 80%;
  margin: 0 auto;

}
[data-test-id="slackProfilePicture"] {
   float: right;
    margin-left: 16px;
  margin-bottom: 15px;   

}
img{
  border-bottom: 10px solid #F589B2;
  border-right: 10px solid #F589B2 ;
  
}
article {
  color: #190A10;
  display: block;
  flex-direction: column;
  font-size: 20px;
  color:#190A10 ;
  
}

li a{
  color:#F589B2;
  cursor: pointer;
  
}
.wrapper:hover{
  background-color: #dd36760d;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

h2 .name{
  color:#DD3675;
  font-size: 29px;
  font-weight: 700;
  font-family: cursive;
}
h3 .my-profession{
  font-size: 30px;
  margin: 15px 0;
}
h3 .typing{
  color: #FD3D86;
}
h3 .email{
  font-size: 30px;
  margin: 15px 0;
 
}
h3 .emailOne{
 color: #DD3675;
  font-family: cursive;
}

.introduction{
  width: 80%;
  margin: 0 auto; 
}

@media (max-width: 1000px){
  
  .introduction {
    color: #190A10;
    font-size: 20px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
     display: flex;
    justify-content: space-between; 
  }
}